#contact.content.active{
    display: grid;
    gap: 2rem;
    margin: 2rem 0;
    grid-template-columns: repeat(1,1fr);
}

#contact{
    position: relative;
}

#contact-form{
    padding-top:1rem;
    border-radius: 15px;
    position: relative;
    max-width: 900px;
    margin: auto;
}

.contact-info{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.contact-info h2{
    font-size: 2.5rem;
}

.contact-info h2 span{
    color: var(--green);
}
.contact-info p{
    font-size: 1.3rem;
    text-align: justify;
}

.contact-media{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap:1.5rem;
}

.media{
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.media span{
    background-color: var(--disabled);
    padding: 0.5rem;
    border-radius: 5px;
}

.media i{
    font-size: 2.2rem;
    color: var(--green);
}

.contact-value p{
    color: var(--green);
    font-size: 1.3rem;
    font-weight: 600;
}

.contact-value a{
    text-decoration: none;
    color: var(--white);
    font-size: 1.2rem;
    transition: all linear 0.3s;
}

.contact-value a:hover{
    color: rgb(155,213,229);
    text-decoration: underline;
}

form{
    background: rgb(148, 147, 147);
    padding: 1rem 1.5rem;
    border-radius: 15px;
    width: 600px;
}

fieldset{
   display: flex;
   flex-direction: column;
   gap: 1rem;
   font-size: 1.2rem;
   border: none;
}

legend{
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 1.2rem;
    font-weight: 600;
    text-align: center;
}

legend span{
    color: var(--green);
}

label{
    font-size: 1.5rem;
    cursor: pointer;
}

.fields{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap:1.5rem;
}

.fields div{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}

input,textarea{
    width: 100%;
    height: 48px;
    background: rgba(255,255,255,0.85);
    border: none;
    outline: none;
    font-size: 1.4rem;
    padding: 0.7rem;
    border-radius: 5px;
    color:#222;
}

textarea{
    height: 120px;
    padding-top: 1rem;
    resize: none;
}

input::placeholder,
textarea::placeholder{
    color: #555;
    opacity: 0.6;
}

#send-msg{
   margin: 1rem auto;
}

@media screen and (width >= 768px){
    #contact.content.active{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (width >= 1024px){
    .contact-media{
        grid-template-columns: repeat(2,1fr);
    }

   .fields{
    grid-template-columns: repeat(2,1fr);
   } 

   .fields div:last-child{
    grid-column: span 2;
   }
}